.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 40%;
  margin: 25px;
}

.wearable-btn {
  width: 250px;
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
}


